In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("./data/marketing_sample_for_trulia_com-real_estate__20190901_20191031__30k_data.csv")

In [3]:
display(df.shape, df.info(), df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30002 entries, 0 to 30001
Data columns (total 30 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Job Title           30002 non-null  object
 1   Job Description     30002 non-null  object
 2   Job Type            0 non-null      float64
 3   Categories          0 non-null      float64
 4   Location            30002 non-null  object
 5   City                30002 non-null  object
 6   State               30002 non-null  object
 7   Country             30002 non-null  object
 8   Zip Code            16252 non-null  object
 9   Address             0 non-null      float64
 10  Salary From         0 non-null      float64
 11  Salary To           0 non-null      float64
 12  Salary Period       0 non-null      float64
 13  Apply Url           18392 non-null  object
 14  Apply Email         0 non-null      float64
 15  Employees           0 non-null      float64
 16  Industry            0 non-null      float64
 17  Company Name        30000 non-null  object
 18  Employer Email      0 non-null      float64
 19  Employer Website    0 non-null      float64
 20  Employer Phone      0 non-null      float64
 21  Employer Logo       18708 non-null  object
 22  Companydescription  19662 non-null  object
 23  Employer Location   3348 non-null   object
 24  Employer City       3316 non-null   object
 25  Employer State      3316 non-null   object
 26  Employer Country    30002 non-null  object
 27  Employer Zip Code   1743 non-null   object
 28  Uniq Id             30002 non-null  object
 29  Crawl Timestamp     30002 non-null  object
dtypes: float64(12), object(18)
memory usage: 6.9+ MB

(30002, 30)

None

,Job Title,Job Description,Job Type,Categories,Location,City,State,Country,Zip Code,Address,...,Employer Phone,Employer Logo,Companydescription,Employer Location,Employer City,Employer State,Employer Country,Employer Zip Code,Uniq Id,Crawl Timestamp
0,Shift Manager,"<div id=""jobDescriptionText"" class=""jobsearch-...",NaN,NaN,"Mission Hills, CA 91345",Mission Hills,CA,United States,91345,NaN,...,NaN,https://d2q79iu7y748jz.cloudfront.net/s/_squar...,Del Taco is an American quick service restaura...,"Mission Hills, CA 91345",Mission Hills,CA,United States,91345,511f9a53920f4641d701d51d3589349f,2019-08-24 09:13:18 +0000
1,Operations Support Manager,"<div id=""jobDescriptionText"" class=""jobsearch-...",NaN,NaN,"Atlanta, GA 30342",Atlanta,GA,United States,30342,NaN,...,NaN,https://d2q79iu7y748jz.cloudfront.net/s/_logo/...,"Based in Atlanta, FOCUS Brands Inc. is an inno...",NaN,NaN,NaN,United States,NaN,4955daf0a3facbe2acb6c429ba394e6d,2019-09-19 08:16:55 +0000
2,Senior Product Manager - Data,"<div id=""jobDescriptionText"" class=""jobsearch-...",NaN,NaN,"Chicago, IL",Chicago,IL,United States,NaN,NaN,...,NaN,NaN,Vibes Corp. reputation was built and establish...,NaN,NaN,NaN,United States,NaN,a0e0d12df1571962b785f17f43ceae12,2019-09-18 02:13:10 +0000
3,Part-Time Office Concierge,"<div id=""jobDescriptionText"" class=""jobsearch-...",NaN,NaN,"Festus, MO",Festus,MO,United States,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,United States,NaN,56e411fd731f76ac916bf4fb169250e9,2019-10-24 16:39:13 +0000
4,Print & Marketing Associate,"<div id=""jobDescriptionText"" class=""jobsearch-...",NaN,NaN,"Cedar Rapids, IA 52404",Cedar Rapids,IA,United States,52404,NaN,...,NaN,https://d2q79iu7y748jz.cloudfront.net/s/_logo/...,"Staples is The Worklife Fulfillment Company, h...","Cedar Rapids, IA 52404",Cedar Rapids,IA,United States,52404,3fff5c0ad6981bf4bff6260bd5feab63,2019-08-24 22:29:10 +0000

Going forward with these columns for the following reasons:
1. the other columns are only missing values or have too many missing values
2. some of the other columns aren't relevant

In [4]:
df = df[['Job Title','Job Description','City','State','Country','Company Name']]

### EDA (Exploratory Data Analysis)

In [5]:
display(df.head(), df.describe(include='object'))

,Job Title,Job Description,City,State,Country,Company Name
0,Shift Manager,"<div id=""jobDescriptionText"" class=""jobsearch-...",Mission Hills,CA,United States,Del Taco LLC
1,Operations Support Manager,"<div id=""jobDescriptionText"" class=""jobsearch-...",Atlanta,GA,United States,FOCUS Brands
2,Senior Product Manager - Data,"<div id=""jobDescriptionText"" class=""jobsearch-...",Chicago,IL,United States,Vibes
3,Part-Time Office Concierge,"<div id=""jobDescriptionText"" class=""jobsearch-...",Festus,MO,United States,Coldwell Banker Real Estate LLC
4,Print & Marketing Associate,"<div id=""jobDescriptionText"" class=""jobsearch-...",Cedar Rapids,IA,United States,Staples Stores

,Job Title,Job Description,City,State,Country,Company Name
count,30002,30002,30002,30002,30002,30000
unique,18077,24714,3472,81,1,12740
top,Account Executive,"<div id=""jobDescriptionText"" class=""jobsearch-...",New York,CA,United States,Lids
freq,329,209,1260,4495,30002,425

From the info above we can see the following:
1. Company Name has 2 missing values 
2. This is for US based jobs, or from US based companies
3. there are 18077 unique job titles and 24714 unique job descriptions, and 12740 company names.
4. The top position companies are hiring for is Account Executive, occuring 329 times
5. Most jobs in this dataset are for New York occurring 4495 times 
6. The company Lids has the most resume's out at 425 times

In [6]:
display(df['State'].unique(), df['City'].unique())

array(['CA', 'GA', 'IL', 'MO', 'IA', 'DC', 'WA', 'NC', 'NY', 'TX', 'ID',
       'FL', 'ME', 'OH', 'VA', 'MD', 'MA', 'NH', 'United States', 'MI',
       'CO', 'NJ', 'OR', 'OK', 'WY', 'AZ', 'CT', 'WI', 'AR', 'PA', 'SC',
       'KY', 'MN', 'IN', 'NV', 'MT', 'AL', 'UT', 'RI', 'KS', 'TN', 'AK',
       'SD', 'NM', 'NE', 'California', 'WV', 'MS', 'VT', 'Texas', 'HI',
       'DE', 'LA', 'New Jersey', 'ND', 'Missouri', 'Georgia', 'Ohio',
       'New York State', 'Colorado', 'Michigan', 'Massachusetts', 'Tamil',
       'Remote', 'North Carolina', 'Home Based', 'Oklahoma', 'Indiana',
       'Florida', 'Sydney NSW', 'Nevada', 'BC', 'Utah', 'Wisconsin',
       'Kansas', 'Connecticut', 'Iowa', 'South Carolina', 'Hong',
       'Virginia', 'Beerse'], dtype=object)

array(['Mission Hills', 'Atlanta', 'Chicago', ..., 'Chadds Ford',
       'Great Bend', 'Harrison'], dtype=object)

In [7]:
df_remote = df[df['State'] == 'Remote']
df_home_based = df[df['State'] == 'Home Based']

display(df_remote.head(), df_home_based.head())
display(df_remote.shape)

,Job Title,Job Description,City,State,Country,Company Name
8489,Onboarding Specialist (Remote),"<div id=""jobDescriptionText"" class=""jobsearch-...",Remote,Remote,United States,Apollo.io
16306,Enterprise Account Manager,"<div id=""jobDescriptionText"" class=""jobsearch-...",Remote,Remote,United States,Ekahau
19029,"Senior Director, Enterprise Sales","<div id=""jobDescriptionText"" class=""jobsearch-...",Remote,Remote,United States,"Seismic Software, Inc."
20457,Account Executive - US West,"<div id=""jobDescriptionText"" class=""jobsearch-...",Remote,Remote,United States,"Liferay, Inc."

,Job Title,Job Description,City,State,Country,Company Name
11683,Regional Sales Director,"<div id=""jobDescriptionText"" class=""jobsearch-...",Home Based,Home Based,United States,"AMETEK, Inc."

(4, 6)

State is either written in letters or full out, we need to ensure consistent naming

In [8]:
df_state_us = df[df['State'] == 'United States']
display(df_state_us.head(), df_state_us.shape)

,Job Title,Job Description,City,State,Country,Company Name
27,Account Executive - Acumatica Cloud ERP US Bas...,"<div id=""jobDescriptionText"" class=""jobsearch-...",United States,United States,United States,Net at Work
416,Director of Enterprise Sales,"<div id=""jobDescriptionText"" class=""jobsearch-...",United States,United States,United States,Voyager Labs
707,Sales Director,"<div id=""jobDescriptionText"" class=""jobsearch-...",United States,United States,United States,SecurityPoint Media
1255,Cloud Data Architect,"<div id=""jobDescriptionText"" class=""jobsearch-...",United States,United States,United States,Pythian
1766,"Account Manager, Produce - Jackson, MS to Memp...","<div id=""jobDescriptionText"" class=""jobsearch-...",United States,United States,United States,UNFI

(58, 6)

In [9]:
state_dict = {'CA': 'California','GA': 'Georgia', 'IL': 'Illinois', 'MO': 'Missouri', 'IA': 'Iowa', 
               'DC': 'District of Columbia', 'WA': 'Washington', 'NC': 'North Carolina', 'NY': 'New York', 'TX': 'Texas',
               'ID': 'Idaho', 'FL': 'Florida', 'ME': 'Maine', 'OH': 'Ohio', 'VA': 'Virginia', 
               'MD': 'Maryland', 'MA': 'Massachusetts', 'NH': 'New Hampshire', 'MI': 'Michigan', 'CO': 'Colorado', 
               'NJ': 'New Jersey', 'OR': 'Oregon', 'OK': 'Oklahoma', 'WY': 'Wyoming', 'AZ': 'Arizona',
               'CT': 'Connecticut', 'WI': 'Wisconsin', 'AR': 'Arkansas', 'PA': 'Pennsylvania', 'SC': 'South Carolina',
               'KY': 'Kentucky', 'MN': 'Minnesota', 'IN': 'Indiana', 'NV': 'Nevada', 'MT': 'Montana',
               'AL': 'Alabama', 'UT': 'Utah', 'RI': 'Rhode Island', 'KS': 'Kansas', 'TN': 'Tennessee',
               'AK': 'Alaska', 'SD': 'South Dakota', 'NM': 'New Mexico', 'NE': 'Nebraska', 'WV': 'West Virginia',
               'MS': 'Mississippi', 'VT': 'Vermont', 'HI': 'Hawaii', 'DE': 'Delaware', 'LA': 'Louisiana', 'ND': 'North Dakota',
               'Home Based': 'Remote',
               'New York State': 'New York'
    }

In [10]:
def convert_state_names(state):
    return state_dict.get(state, state)

df['State'] = df['State'].apply(convert_state_names)
df.head()

,Job Title,Job Description,City,State,Country,Company Name
0,Shift Manager,"<div id=""jobDescriptionText"" class=""jobsearch-...",Mission Hills,California,United States,Del Taco LLC
1,Operations Support Manager,"<div id=""jobDescriptionText"" class=""jobsearch-...",Atlanta,Georgia,United States,FOCUS Brands
2,Senior Product Manager - Data,"<div id=""jobDescriptionText"" class=""jobsearch-...",Chicago,Illinois,United States,Vibes
3,Part-Time Office Concierge,"<div id=""jobDescriptionText"" class=""jobsearch-...",Festus,Missouri,United States,Coldwell Banker Real Estate LLC
4,Print & Marketing Associate,"<div id=""jobDescriptionText"" class=""jobsearch-...",Cedar Rapids,Iowa,United States,Staples Stores

In [11]:
display(df['State'].unique(), df['City'].unique())

array(['California', 'Georgia', 'Illinois', 'Missouri', 'Iowa',
       'District of Columbia', 'Washington', 'North Carolina', 'New York',
       'Texas', 'Idaho', 'Florida', 'Maine', 'Ohio', 'Virginia',
       'Maryland', 'Massachusetts', 'New Hampshire', 'United States',
       'Michigan', 'Colorado', 'New Jersey', 'Oregon', 'Oklahoma',
       'Wyoming', 'Arizona', 'Connecticut', 'Wisconsin', 'Arkansas',
       'Pennsylvania', 'South Carolina', 'Kentucky', 'Minnesota',
       'Indiana', 'Nevada', 'Montana', 'Alabama', 'Utah', 'Rhode Island',
       'Kansas', 'Tennessee', 'Alaska', 'South Dakota', 'New Mexico',
       'Nebraska', 'West Virginia', 'Mississippi', 'Vermont', 'Hawaii',
       'Delaware', 'Louisiana', 'North Dakota', 'Tamil', 'Remote',
       'Sydney NSW', 'BC', 'Hong', 'Beerse'], dtype=object)

array(['Mission Hills', 'Atlanta', 'Chicago', ..., 'Chadds Ford',
       'Great Bend', 'Harrison'], dtype=object)

In [12]:
display(df[df['State'] == 'Sydney NSW'], df[df['State'] == 'BC'], df[df['State'] == 'Hong'], df[df['State'] == 'Tamil'], df[df['State'] == 'Beerse'])

,Job Title,Job Description,City,State,Country,Company Name
13924,Commercial Solutions Engineer,"<div id=""jobDescriptionText"" class=""jobsearch-...",Sydney NSW,Sydney NSW,United States,VMware

,Job Title,Job Description,City,State,Country,Company Name
18141,Income Auditor,"<div id=""jobDescriptionText"" class=""jobsearch-...",Harrison Hot Springs,BC,United States,Harrison Hot Springs Resort

,Job Title,Job Description,City,State,Country,Company Name
27049,Cloud Solution Architect,"<div id=""jobDescriptionText"" class=""jobsearch-...",Cyberport,Hong,United States,Microsoft

,Job Title,Job Description,City,State,Country,Company Name
7785,"Manager, Professional Services - Delivery","<div id=""jobDescriptionText"" class=""jobsearch-...",Chennai,Tamil,United States,VMware

,Job Title,Job Description,City,State,Country,Company Name
27769,"Manager, Global Brand Protection Services [Ent...","<div id=""jobDescriptionText"" class=""jobsearch-...",Beerse,Beerse,United States,Johnson & Johnson Family of Companies

Here we some inconsistencies, the country is US but the states are form different countries. we will drop these

In [13]:
# List of states to be dropped
states_to_drop = ['Sydney NSW', 'BC', 'Hong', 'Tamil', 'Beerse']

# Drop rows where the 'State' column matches any of the states to be dropped
df = df[~df['State'].isin(states_to_drop)]

df.head()

,Job Title,Job Description,City,State,Country,Company Name
0,Shift Manager,"<div id=""jobDescriptionText"" class=""jobsearch-...",Mission Hills,California,United States,Del Taco LLC
1,Operations Support Manager,"<div id=""jobDescriptionText"" class=""jobsearch-...",Atlanta,Georgia,United States,FOCUS Brands
2,Senior Product Manager - Data,"<div id=""jobDescriptionText"" class=""jobsearch-...",Chicago,Illinois,United States,Vibes
3,Part-Time Office Concierge,"<div id=""jobDescriptionText"" class=""jobsearch-...",Festus,Missouri,United States,Coldwell Banker Real Estate LLC
4,Print & Marketing Associate,"<div id=""jobDescriptionText"" class=""jobsearch-...",Cedar Rapids,Iowa,United States,Staples Stores

In [14]:
display(df['State'].unique(), df['City'].unique())

array(['California', 'Georgia', 'Illinois', 'Missouri', 'Iowa',
       'District of Columbia', 'Washington', 'North Carolina', 'New York',
       'Texas', 'Idaho', 'Florida', 'Maine', 'Ohio', 'Virginia',
       'Maryland', 'Massachusetts', 'New Hampshire', 'United States',
       'Michigan', 'Colorado', 'New Jersey', 'Oregon', 'Oklahoma',
       'Wyoming', 'Arizona', 'Connecticut', 'Wisconsin', 'Arkansas',
       'Pennsylvania', 'South Carolina', 'Kentucky', 'Minnesota',
       'Indiana', 'Nevada', 'Montana', 'Alabama', 'Utah', 'Rhode Island',
       'Kansas', 'Tennessee', 'Alaska', 'South Dakota', 'New Mexico',
       'Nebraska', 'West Virginia', 'Mississippi', 'Vermont', 'Hawaii',
       'Delaware', 'Louisiana', 'North Dakota', 'Remote'], dtype=object)

array(['Mission Hills', 'Atlanta', 'Chicago', ..., 'Chadds Ford',
       'Great Bend', 'Harrison'], dtype=object)

In [15]:
df['Job Description'].duplicated().sum()

5288

In [16]:
duplicate_rows = df[df.duplicated()]
print('Duplicate Rows:')
duplicate_rows

Duplicate Rows:

,Job Title,Job Description,City,State,Country,Company Name
1079,Jr. Account Executive,"<div id=""jobDescriptionText"" class=""jobsearch-...",Charlotte,North Carolina,United States,American Financial Education Alliance
1214,Leasing Director,"<div id=""jobDescriptionText"" class=""jobsearch-...",Lake Orion,Michigan,United States,Pomeroy Living - Orion Assisted
1705,Sales Representative,"<div id=""jobDescriptionText"" class=""jobsearch-...",Baltimore,Maryland,United States,Datastory
1720,Account Executive - Hunter - IT Managed Servic...,"<div id=""jobDescriptionText"" class=""jobsearch-...",Houston,Texas,United States,SEAMLESS SOLUTIONS
2459,Lids Store Manager,"<div id=""jobDescriptionText"" class=""jobsearch-...",Grove City,Pennsylvania,United States,Lids
...,...,...,...,...,...,...
29900,Sales Account Executive,"<div id=""jobDescriptionText"" class=""jobsearch-...",Overland Park,Kansas,United States,Charter Communications
29903,Mixed Martial Arts Coach,"<div id=""jobDescriptionText"" class=""jobsearch-...",Concord,California,United States,UFC Gym
29963,Advertising Sales Representatiive,"<div id=""jobDescriptionText"" class=""jobsearch-...",Lakewood,Colorado,United States,N-Compass TV
29977,Sales and Marketing Agent,"<div id=""jobDescriptionText"" class=""jobsearch-...",Dallas,Texas,United States,1800 Radiator & AC
29983,"Account Executive, IT Sales Experience","<div id=""jobDescriptionText"" class=""jobsearch-...",Holbrook,New York,United States,"Future Tech Enterprise, Inc."

The are 1248 duplicate rows, but 5288 duplicate job descriptions, the discrepency can mean a few things:
1. **Common Job Roles**: Some Job roles might have the same description (further analysis required)
2. **Recruitment Agencies or Job Board**: These companies might post the same jobs on multiple platforms:
3. **Franchise or Branches**: Companies wih multiple franchises or branches may use the same job description across different locations 
4. **Template Usage**: Some companies may use templates, that shares common language

In [17]:
common_job_roles = df['Job Title'].value_counts().head(10)
print('Top 10 most common job roles:')
print(common_job_roles)

Top 10 most common job roles:
Job Title
Account Executive                       329
Sales Associate/Beauty Advisor          209
Account Manager                         192
General Manager                         180
Sales Associate, Retail Part Time       148
Lids Assistant Manager Full-Time        128
Customer Service Representative         124
Store Manager                           120
Lids Store Manager                      119
Lids District Mgr in Training (DMIT)    112
Name: count, dtype: int64

In [18]:
companies_with_duplicates = df[df['Job Description'].duplicated()]['Company Name'].value_counts()
print("Companies with duplicate job descriptions:")
print(companies_with_duplicates)

Companies with duplicate job descriptions:
Company Name
Lids                               415
Sally Beauty Supply LLC            208
GNC - General Nutrition Centers    201
WALGREENS                          196
Jackson Hewitt                     149
                                  ...
Fleetcor                             1
Mytech Partners                      1
New Seasons Market                   1
Crunch Fitness - Westland            1
N-Compass TV                         1
Name: count, Length: 1157, dtype: int64

In [19]:
duplicate_locations = df[df['Job Description'].duplicated()]['City'].value_counts()
print("Cities with duplicate job descriptions:")
print(duplicate_locations)

Cities with duplicate job descriptions:
City
New York          146
Houston            76
Washington         67
Los Angeles        65
Chicago            56
                 ...
Northborough        1
Tullahoma           1
Roanoke Rapids      1
Covina              1
Mentor              1
Name: count, Length: 1715, dtype: int64

In [20]:
duplicate_job_desc = df[df['Job Description'].duplicated()]['Job Description']
print("Sample duplicate job descriptions:")
print(duplicate_job_desc.head())

Sample duplicate job descriptions:
17     <div id="jobDescriptionText" class="jobsearch-...
45     <div id="jobDescriptionText" class="jobsearch-...
94     <div id="jobDescriptionText" class="jobsearch-...
97     <div id="jobDescriptionText" class="jobsearch-...
111    <div id="jobDescriptionText" class="jobsearch-...
Name: Job Description, dtype: object

In [21]:
df_no_dupes = df.drop_duplicates() 
display(df_no_dupes.head(), df_no_dupes.shape)

,Job Title,Job Description,City,State,Country,Company Name
0,Shift Manager,"<div id=""jobDescriptionText"" class=""jobsearch-...",Mission Hills,California,United States,Del Taco LLC
1,Operations Support Manager,"<div id=""jobDescriptionText"" class=""jobsearch-...",Atlanta,Georgia,United States,FOCUS Brands
2,Senior Product Manager - Data,"<div id=""jobDescriptionText"" class=""jobsearch-...",Chicago,Illinois,United States,Vibes
3,Part-Time Office Concierge,"<div id=""jobDescriptionText"" class=""jobsearch-...",Festus,Missouri,United States,Coldwell Banker Real Estate LLC
4,Print & Marketing Associate,"<div id=""jobDescriptionText"" class=""jobsearch-...",Cedar Rapids,Iowa,United States,Staples Stores

(28749, 6)

In [22]:
popular_jobs_per_state = df_no_dupes.groupby('State')['Job Title'].apply(lambda x: x.value_counts().idxmax())
popular_jobs_df = popular_jobs_per_state.reset_index()
popular_jobs_df.columns = ['State', 'Job Title']
popular_jobs_df = popular_jobs_df.sort_values(by='State').reset_index(drop=True)
print("Most popular job titles per state:")
print(popular_jobs_df)

Most popular job titles per state:
                   State                                          Job Title
0                Alabama                                  Account Executive
1                 Alaska                  Sales Associate, Retail Part Time
2                Arizona                              Retail Sales Teammate
3               Arkansas                     Sales Associate/Beauty Advisor
4             California                                  Account Executive
5               Colorado                                    Account Manager
6            Connecticut                              Retail Sales Teammate
7               Delaware                              Retail Sales Teammate
8   District of Columbia                       Business Development Manager
9                Florida                     Sales Associate/Beauty Advisor
10               Georgia                                    General Manager
11                Hawaii                               FRONT END DEPARTMENT
12                 Idaho                                  Territory Manager
13              Illinois                                  Account Executive
14               Indiana                                      Store Manager
15                  Iowa                    Tax Preparer I Store Operations
16                Kansas                                        Tax Manager
17              Kentucky                                       Tax Preparer
18             Louisiana                                      SHIFT MANAGER
19                 Maine                                     Shipping Clerk
20              Maryland                                       Shift Leader
21         Massachusetts                Business Development Representative
22              Michigan                Assistant Retail Facility Manager 1
23             Minnesota                                  Account Executive
24           Mississippi                                      Store Manager
25              Missouri                                  Assistant Manager
26               Montana                                     CASINO MANAGER
27              Nebraska                                  Territory Manager
28                Nevada                                         Area Coach
29         New Hampshire  Customer Service Field Rep- Entry Level (New H...
30            New Jersey                                  Account Executive
31            New Mexico                    Customer Service Representative
32              New York                                  Account Executive
33        North Carolina                            PT Perishable Associate
34          North Dakota                   Lids Assistant Manager Full-Time
35                  Ohio                     Sales Associate/Beauty Advisor
36              Oklahoma                                  Account Executive
37                Oregon                                  Account Executive
38          Pennsylvania                  Sales Associate, Retail Part Time
39                Remote                     Onboarding Specialist (Remote)
40          Rhode Island     Director Giving Societies and Donor Engagement
41        South Carolina               Lids District Mgr in Training (DMIT)
42          South Dakota                                    Account Manager
43             Tennessee                                  Account Executive
44                 Texas                     Sales Associate/Beauty Advisor
45         United States  Account Executive - Acumatica Cloud ERP US Bas...
46                  Utah                               Crew Lube Technician
47               Vermont                    Customer Service Representative
48              Virginia                                  Account Executive
49            Washington                               FRONT END DEPARTMENT
50         West Virginia                                 Management Trainee
51             Wisconsin                    Customer Service Representative
52               Wyoming                               FRONT END DEPARTMENT

### Data Scientist jobs

In [31]:
keywords = ['data science', 'data scientist', 
            'ml engineer', 'machine learning engineer', 
            'machine learning', 
            'data analyst', 
            'business analyst',
            'data engineer',
            'data Architect']

pattern = '|'.join(keywords)

data_jobs = df_no_dupes[df_no_dupes['Job Title'].str.contains(pattern, case=False, regex=True)]

display(data_jobs.head(), data_jobs.shape)

,Job Title,Job Description,City,State,Country,Company Name
18,Business Analyst with Adobe Experience Manager...,"<div id=""jobDescriptionText"" class=""jobsearch-...",New York,New York,United States,Capgemini
36,Business Analyst/Project Manager,"<div id=""jobDescriptionText"" class=""jobsearch-...",Farmington Hills,Michigan,United States,FutureSoft IT
69,"Senior Data Scientist, Wholesale Credit Techno...","<div id=""jobDescriptionText"" class=""jobsearch-...",Charlotte,North Carolina,United States,Bank of America
87,Senior Data Engineer- Platform Development,"<div id=""jobDescriptionText"" class=""jobsearch-...",Irvine,California,United States,Weedmaps
101,Data Architect - Data Warehouse & MPP - Nation...,"<div id=""jobDescriptionText"" class=""jobsearch-...",Dallas,Texas,United States,"Amazon Web Services, Inc."

(373, 6)

In [30]:
from IPython.display import display, HTML 
display(HTML(data_jobs['Job Description'][1041]))

### Data Scraping with beatutifulsoup

In [ ]:
data_jobs['Bullets'] = [[bullet.text.strip() for bullet in soup.find_all('li')] for soup in soup_objects]

In [32]:
bulleted_post_count = 0 
for bullet_list in data_jobs.Bullets:
  if bullet_list:
    bulleted_post_count += 1 
    
percent_bulleted = 100 * bulleted_post_count / data_jobs.shape[0]
print(f"{percent_bulleted:.2f}% of the postings contain bullets")

AttributeError: 'DataFrame' object has no attribute 'Bullets'

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer 

def rank_words(text_list):
  vectorizer = TfidfVectorizer(stop_words='english')
  tfidf_matrix = vectorizer.fit_transform(text_list).toarray() 
  df = pd.DataFrame({'Words': vectorizer.get_feature_names_out(), 'Summed TFIDF': tfidf_matrix.sum(axis=0)})
  sorted_df = df.sort_values('Summed TFIDF', ascending=False)
  return sorted_df

all_bullets = [] 
for bullet_list in data_jobs.Bullets: 
  all_bullets.extend(bullet_list)
  
sorted_df = rank_words(all_bullets)
print(sorted_df[:5].to_string(index=False))

     Words  Summed TFIDF
      data     12.740915
experience     12.292084
  learning      7.958197
  business      7.440381
   machine      7.201028

In [27]:
data_jobs['Job Title'].unique()

array(['Business Analyst with Adobe Experience Manager (AEM) experience',
       'Business Analyst/Project Manager',
       'Senior Data Scientist, Wholesale Credit Technology',
       'Data Strategy Architect - Cloud, Big Data, Analytics, ML/AI/Data Science',
       'Business Analyst & Systems Manager', 'Data Analyst',
       'Jr. Data Analyst Compliance', 'Data Scientist',
       'Customer Data Analyst', 'Business and Data Analyst Manager',
       '(Temporary) Researcher and Data Analyst, Fine Arts',
       'Sr Data Analyst', 'HRIS Business Analyst (Reporting & Analytics)',
       'Senior Financial Reporting & Business Analyst',
       'Sr. Fraud Data Analyst',
       'Technology Project Manager/Business Analyst',
       'Business Analyst / Project Manager / Technical Solutions',
       'Process Engineer / Business Analyst',
       'Business Analyst - Point-Of-Sale -BBB - 494-1',
       'Business Analyst', 'Business Analyst - SaaS',
       'Sr Demand Forecasting Data Scientist',
       'data scientist - Seattle, WA', 'Business Analyst, Senior',
       'Finance Data Analyst',
       'Systems Engineering Technical Business Analyst - Manager',
       'Customer Service Data Analyst', 'Business Data Analyst',
       'Senior Data Analyst', 'ERP Business Analyst',
       'Business Analyst 5-Ops', 'Business Analyst Manager',
       'Senior Marketing Data Analyst', 'Technical Data Analyst',
       'Agile Business Analyst', 'Lead Data Scientist',
       'Product Management Lead - Cloud and Machine Learning',
       'Data Scientist - (2 Positions)',
       'Watson Health - Business Analyst - Claims Investigator',
       'ITS Project Manager/Business Analyst', 'Sr. Business Analyst',
       'Data Management Business Analyst',
       'Senior Director of Product Management, Machine Learning',
       'SAP Functional Business Analyst',
       'Specialist SA, Machine Learning/AI Services',
       'IT Business Analyst', 'Senior Product Data Scientist',
       'E-Commerce Business Analyst',
       'Account Analyst - Sales Data Analyst', 'Sr. Data Analyst',
       'Data Analyst 2', 'Business Analyst - L&A',
       'Senior Data Analyst â€“ Global Supply Analytics, AMERICAS, Analytics',
       'Employee Benefits Business Analyst', 'Data Analyst Intern',
       'Business Analyst - Entry-Level',
       'IT Project Sr. Manager/Business Analyst', 'Jr. Data Analyst',
       'BI Data Analyst', 'Event Marketing Business Analyst',
       'Salesforce Business Analyst', 'Dynamics CRM Business Analyst',
       'IT Business Analyst/Project Manager',
       'Solutions Engineer, Applied Machine Learning',
       'Business Analyst - Microsoft Dynamics',
       'Project Manager / Business Analyst',
       'Data Sciences - Engagement Manager', 'Machine Learning Engineer',
       'Salesforce Senior Business Analyst-H&PS - Accenture Technology',
       'Programmatic Data Analyst', 'Technical Business Analyst',
       'Senior Business Analyst', 'Systems Business Analyst',
       'Business Analyst Product Development',
       'Data Analyst, Sales and Customer Support Contact Center',
       'Sr. Manager/Director, Data Science', 'DATA ANALYST - 9153 73',
       'Sales/Data Analyst Intern - Fall 2019',
       'Corporate Marketing Data Analyst, Pittsburgh, PA',
       'Global Business Analyst',
       'Data Analyst - Investigative Analytics - Senior Associate',
       'Salesforce Sr. Business Analyst', 'SAP Business Analyst Senior',
       'Product Data Analyst', 'Sales Data Analyst',
       'Data Analyst - Tableau', 'Data Analyst Manager',
       'Agiloft Business Analyst', 'Business & Reporting Data Analyst',
       'Data Scientist (Churn)', 'Marketing Data Analyst',
       'Master Data Analyst', 'Ecommerce Data Analyst',
       'Data Science Analyst', 'Engineer, Data Science',
       'Supplier Master Data Analyst', 'Research/Data Analyst',
       'Internship Data Scientist, Product Analytics, Analytics',
       'Sales Business Analyst - Customer Data',
       'Sr Business Analyst - Customer Financial Ops',
       'Business Analyst Student',
       'Program Lead, Machine Learning Advanced Solutions, Google Cloud',
       'Senior Business Data Analyst',
       'ServiceNow Business Analyst (ITBM)',
       'Technical Data Analyst (Marketing)',
       'IT Supply Chain Business Analyst', 'Chief Data Scientist',
       'Sales and Data Analyst', 'Optical Data Analyst',
       'Salesforce Business Analyst (DEVOPS041)',
       'Sr. Business Analyst-MES (Manufacturing Execution Systems)',
       'Sr Business Analyst',
       'Senior Data Scientist, Wholesale Credit and Banking Technology',
       'Business Analyst II',
       'AI/Machine Learning Software Engineer Intern',
       'Business Analyst Associate', 'Distribution Senior Data Analyst',
       'Sr. Corporate Data Analyst',
       'Sr. IT Business Analyst - Supply Chain',
       'Office of the CAO | Reference Data â€“ Project Manager/Business Analyst | London',
       'Sr Associate â€“ Data Scientist',
       'AppD Salesforce Business Analyst (4773)',
       '(Remote) Business/Data Analyst',
       'Senior Business Analyst, Sales Planning',
       'Clinical Informatics Manager (Business Analyst IV)',
       'Data/Business Analyst', 'Data Analyst, Planning & Inventory',
       'Data Analyst - MaritzCX', 'Business Analyst - CPQ',
       'Commodity Data Analyst', 'Associate Data Scientist',
       'Technical Business Analyst - Manager', 'Data science Internship',
       'Data Analyst - Passenger Transportation', 'CRM BUSINESS ANALYST',
       'IT Project Manager / Business Analyst', 'Data Analyst I',
       'Business Analyst (Salesforce)',
       'Senior Business Data Analyst-Web/Digital Analytics',
       'Sales Support and Data Analyst',
       'Senior Product Owner / Business Analyst - Imaging Software',
       'Senior Deep Learning Data Scientist',
       'Agile Software Development Business Analyst',
       'Lead Business Analyst - GTS Global BI', 'VP, Data Scientist',
       'Business Analyst-Senior', 'Lead Technical Business Analyst',
       'Commercial Banking â€“Executive Director - Data Science, Analytics & Insights',
       'Sales Business Analyst', 'Data Scientist Manager, SBG',
       'Premier Data Analyst',
       'Firmwide Reference Data Strategy â€“ Strategic Party and Account Program (Product Delivery team) â€“ Project Manager/Business Analyst - Associate',
       'Senior Sales Data Analyst - NBA',
       'Sr. Salesforce Administrator /Business Analyst',
       'Account Operations Data Analyst', 'Data Scientist/Engineer',
       'Senior Business Analyst, Data Management & Business Intelligence Systems',
       'Asset Management, Digital & Distribution Solutions, CRM Business Analyst, Assoc',
       'Business Analyst (Revenue Systems)',
       'Senior Project Manager / Business Analyst / Scrum Master / Process Engineer',
       'Senior Manager, Data Science',
       'Business Analyst Manager - Small Business Card',
       'Data Scientist (Marketing Mix Modeling)',
       "Data Analyst Bachelor's (Intern) - United States",
       'Sales Compensation and Data Analyst',
       'Managing Director - Data Science',
       'Senior Product Manager - Data Science',
       'Senior Business Analyst - Life Insurance/Illustrations',
       'Technical Project Manager/Business Analyst',
       'HubSpot Data Analyst (Located in Johnston, Iowa)',
       'Business Analyst Corporate Data and Analytics',
       'Business Analyst, Campaign to Order',
       'Data Analyst (Retail, Reporting & SQL)', 'Data Analyst Associate',
       'Summer 2020 Internship Program - IT Marketing/API Technology (Business Analyst)',
       'Entry Level Business Analyst - HRIS',
       'Senior IT Business Analyst, Digital Commerce',
       'Sr. Director, Data Science',
       'Project Manager/ Technical Business Analyst',
       'Sr. Data Analyst, Commercial Analytics',
       'Principal Machine Learning Engineer - Search',
       'Revenue Management Data Analyst/Client Services',
       'Product Manager - Data Science Products', 'Data Analyst 3',
       'eCommerce Item Setup & Business Analyst',
       'Data Science Analyst Co-Op',
       'Technical Finance Project Manager / Business Analyst',
       'Senior Data Scientist', 'Senior Data Analyst, Customer Success',
       'Retail Systems Business Analyst', 'Data Analyst - Charlotte, NC',
       'CRM Business Analyst', 'Associate, Data Scientist',
       'Business Analyst for Software Development',
       'Customer Data Scientist (New York)', 'Ecommerce Business Analyst',
       'Data Science - Generalist & Machine Learning Engineer - Full Time Opportunities',
       'Software Development Business Analyst',
       'Product Manager, Data Science',
       'Product Analytics Sr. Data Scientist'], dtype=object)